ENV=development
APP_PORT=3000
CLEINT_URL=http://localhost:4200

DB_HOST=localhost
DB_PORT=5400
DB_USER=postgres
DB_PASS=postgres
DB_NAME=design_struct
DB_URL=db-url

API_AI_GEMINI_KEY=gemini-api-key
API_AI_CLAUDE_KEY=claude-api-key
API_AI_CHAT_GPT_KEY=gpt-api-key

# For development
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=email-sendler
SMTP_PASSWORD=email-app-password
# Production
API_RESEND_EMAIL_KEY=resend-key
API_RESEND_EMAIL_FROM=resend-email

JWT_SECRET=super-secret-key
